@charset "UTF-8";

body{

    width: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    gap: 3px;

}

header{

    width: calc(100% - 12px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 11px;
    padding: 6px;
    margin-bottom: 2%;
    
    > .title-container{

        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        height: 115px;

        > .title{

            font-family: "Algerian", "Sans Serif";
            color: red;
            font-size: 43px;
        
        }

    }

    > .links-container{

        display: flex;
        background-color: rgb(196, 64, 64);
        height: 60px;
        border-radius: 8.5px;
        justify-content: space-evenly;
        align-items: center;

        > a{

            color: white;
            text-decoration: none;
            font-size: 21px;
            padding: 5px;

        }

        > a:hover{

            text-decoration: underline;

        }

    }

}

main{

    width: calc(100% - 5%);
    margin-right: 0.8%;
    margin-left: 1%;
    gap: 5%;
    display: flex;
    flex-direction: column;

}

.sub-title{

    font-family: "Algerian", "Sans Serif";
    color: red;
    margin-top: 0.8%;
    font-size: 38px;

}

.normal-text{

    font-size: 17px;

}

#tiny-text{

    margin-bottom: 2%;

}

.normal-button{

    padding: 12px 17px;
    background-color: rgb(196, 64, 64);
    text-decoration: none;
    color: white;
    border-radius: 6px;
    transition: 0.2s;
    border: none;

}

.normal-button:hover{

    background-color: rgb(155, 60, 60);
    padding: 12px 20px;

}

.container{

    display: flex;

}

.sub-container{

    display: flex;
    gap: 10px;
    margin-bottom: 10px;

}

.center{

    justify-content: center;

}

.flex-column{

    flex-direction: column;

}

.std-gap{

    gap: 3%;

}

form{

    display: flex;
    flex-direction: column;

    .normal-text{

        font-size: 18px;
    
    }

}

.form-input{

    width: 250px;
    height: 25px;
    text-align: center;
    font-size: 15px;
    border-radius: 2px;
    border: 1px solid black;

}

.italic{

    font-style: italic;

}

.form-input:focus{

    font-size: 16px;
    color: rgb(196, 64, 64);
    background-color: #fff;

}

.align-center{

    align-items: center;

}

.img-container{

    display: flex;

    .normal-img{

        height: 250px;
        width: 300px;
        border-radius: 15px;

    }

}



#observations{

    min-width: 550px;
    min-height: 150px;
    max-width: 550px;
    max-height: 150px;
    font-size: 15px;
    margin-top: 10px;

}

#observations:focus{

    font-size: 16px;
    color: rgb(196, 64, 64);

}

/*

@media (max-width: 1080px) {
    
    header{

        width: calc(100% - 10px);
        padding: 5.5px;
    
        > .title-container{
    
            height: 105px;

            > .title{
    
                font-size: 37.5px;
            
            }
    
        }
    
        > .links-container{
    
            height: 52px;
            margin: 2px;
            border-radius: 8.5px;
            > a{
    
                color: white;
                text-decoration: none;
                font-size: 19.7px;
    
            }
    
        }
    
    }

    main{

        margin-left: 6.5px;
    
    }

    .sub-title{
    
        font-size: 34.6px;
    
    }

    .normal-text{

        font-size: 18.3px;

    }

}

@media (max-width: 950px) {
    
    header{
        width: calc(100% - 10px);
        gap: 10.3px;
        padding: 5px;
    
        > .title-container{
    
            height: 88px;

            > .title{
    
                font-size: 32.5px;
            
            }
    
        }
    
        > .links-container{
    
            height: 42.5px;
            border-radius: 7.5px;
    
            > a{
    
                font-size: 18.5px;
    
            }
    
        }
    
    }
    
    main{

        margin-left: 5.8px;
    
    }

    .sub-title{
    
        font-size: 29.8px;
    
    }

    .normal-text{

        font-size: 17.3px;

    }

}

@media (max-width: 675px) {
    
    header{

        width: calc(100% - 9px);
        gap: 9.7px;
        padding: 4.4px;
    
        > .title-container{
    
            height: 82.2px;

            > .title{

                font-size: 29.9px;
            
            }
    
        }
    
        > .links-container{
    
            height: 38px;
            border-radius: 6.6px;
    
            > a{

                font-size: 16.9px;
    
            }
    
        }
    
    }

    main{

        margin-left: 5.1px;
    
    }

    .sub-title{

        font-size: 27.6px;
    
    }

    .normal-text{

        font-size: 16px;

    }

}

@media (max-width: 490px) {
    
    header{
     
        width: calc(100% - 7px);
        gap: 9.3px;
        padding: 3.3px;
    
        > .title-container{
    
            height: 75.7px;

            > .title{
    
                font-size: 25px;
            
            }
    
        }
    
        > .links-container{
    
            height: 34px;
            border-radius: 6px;
    
            > a{

                font-size: 16px;
    
            }
    
        }
    
    }

    main{

        margin-left: 5.1px;
    
    }


    .sub-title{
    
        font-size: 22px;
    
    }

    .normal-text{

        font-size: 15.5px;

    }

}