@media all {
 
    .container {

        display: flex;
        gap: 1vh;
    
    }

    .margin-top {

        margin-top: 0.7vh;

    }
    
    .sub-container {
    
        display: flex;
        gap: 10px;
        margin-bottom: 10px;
    
    }

    .space-evenly {

        justify-content: space-evenly;

    }

    .space-between {

        justify-content: space-between;

    }

    .std-width {

        width: 45vh;

    }
    
    .total-width {
    
        width: 100%;
    
    }
    
    .normal-text.center {
    
        text-align: center;
    
    }
    
    .flex-start {
    
        justify-content: flex-start;
    
    }
    
    .flex-end {
    
        justify-content: flex-end;
    
    }
    
    .center {
    
        justify-content: center;
    
    }

    .tiny-text {
    
        margin-bottom: 2vh;
        font-size: 1.8vh;
        display: flex;
        flex-direction: column;
        gap: 1vh;
    
    }
    
    .italic {
    
        font-style: italic;
    
    }
    
    .flex-column {
    
        flex-direction: column;
    
    }
    
    .std-gap {
    
        gap: 3vh;
    
    }
    
    .align-center {
    
        align-items: center;
    
    }

}

@media (max-width: 750px) {
    
    .container {

        flex-direction: column;
        align-items: center;

    }

}