@font-face {

    font-family: "Algerian";

    src:
    url("../font/Algerian.ttf") format("truetype"),
    url("../font/Algerian.otf") format("opentype");

    font-weight: bold;
    font-style: normal;

}